.Comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  padding: 9px;
  width: 70%;
}

.Text {
  color: #992222;
  font-weight: 500;
  margin-top: 0;
}

.Footer {
  display: flex;
  justify-content: space-between;
}

.Author {
  color: green;
}

.Date {
  color: #999;
  font-weight: 400;
}
